<% provide(:title, "Recruitment") %>

<div class="center-content">
  <div class="banner" id="rush-banner"></div>

	<div class="application-button-wrapper">

		<!-- Comment/Uncomment the below section to open/close the application portal -->
		<!--
		<%= link_to "Apply Now", new_rush_application_path, class: "apply-link" %>
		<br />
		<br />
		-->
		<!-- Comment/Uncomment the above section to open/close the application portal -->
	

		<!-- Comment/Uncomment the below section to open/close the emailing list signup for when it's not rush season -->
		<% flash.each do |message_type, message| %>
		  <div class="alert alert-<%= message_type %>" id="prospects-flash"><%= message %></div>
		<% end %>
		<div style="font-size: 1.8em;margin-top:-25px;">Sign up for our emailing list for Spring 2016</div>
		<br />
		<div>
      <%= form_for @prospect do |f| %>
			  <%= f.text_field :email, placeholder: "Email Address", size: "10" %>
			  <br />
			  <br />
			  <%= f.submit "Submit", id: "mailing-list-button" %>
			<% end %>
    </div>
		<br />
		<i>The application for Spring 2016 will be up shortly.</i>
		<!-- Comment/Uncomment the above section to open/close the emailing list signup for when it's not rush season -->


		<!-- Comment/Uncomment the below section to open/close the facebook redirect for when we have a facebook page for rush -->
		<i><a href="https://www.facebook.com/events/199777757041287/" id="facebook-redirect">View our event on Facebook</a> for more details regarding our recruitment process.</i>
		<!-- Comment/Uncomment the above section to open/close the facebook redirect for when we have a facebook page for rush -->
	
	</div>


	<div class="rush-nav">
  	<ul>
  		<a href="#a1"><li>Why join AKPsi?</li></a>
  		<li><div class="circle"></div></li>
			<a href="#a2"><li>Recruitment Schedule</li></a>
			<li><div class="circle"></div></li>
			<a href="#a3"><li>Requirements</li>
		</ul>
	</div>

	<a name="a1" class="remove-hover-effect">
		<div class="rush-wrapper">
			<p class="rush-heading">Why join Alpha Kappa Psi?</p>

			<p class="rush-caption">
				Alpha Kappa Psi offers a unique opportunity to attain the critical professional skills necessary to excel in tomorrow’s workforce. Based on its two pillars of Brotherhood and Professionalism, Alpha Kappa Psi brings together a diverse people who all have a common desire to achieve more. Through hands on leadership experiences, insightful seminars, professional workshops, and internship opportunities, our members have become highly regarded recruits by many of the nation’s leading firms. Joining Alpha Kappa Psi will open access to a huge range of opportunities that allow you to excel in whatever field you choose. 
			</p>

			<!--
			<div class="row professionalism">
			  <div class="col-md-9">
			  	<p class="rush-subheading">Professionalism</p>


			  </div>
				<div class="col-md-3">


				</div>
			</div>
			<div class="row brotherhood">
			  <div class="col-md-3">

			  </div>
				<div class="col-md-9">
					<p class="rush-subheading">Brotherhood</p>
					<p>
				</div>
			</div>
		-->

		</div>
	</a>

	<a name="a2" class="remove-hover-effect">
		<div class="rush-wrapper dark-background">
			<p class="rush-heading">Recruitment Schedule</p>
			<div>
				<p class="rush-subheading">Meet the Chapter</p>
				<p class="rush-caption">
					7PM to 10PM Monday, 25 January<br>
					Bancroft Hotel<br>
					Business Casual
				</p>
			</div>
			<div>
				<p class="rush-subheading">Social Night</p>
				<p class="rush-caption">
					7PM to 10PM Thursday, 28 January<br>	
					Berkeley City Club<br>	
					Campus Casual
				</p>
			</div>
			<div>
				<p class="rush-subheading">Individual Interviews</p>
				<p class="rush-caption">
					Saturday, 30 January and Sunday, 31 January<br>	
					By Appointment Only<br>
					Business Professional
				</p>
			</div>
			<div>
				<p class="rush-subheading">Professional Forum</p>
				<p class="rush-caption">
					Wednesday, 3 February<br>
					By Invitation Only<br>
					Business Professional
				</p>
			</div>
			<div>
				<p class="rush-subheading">Group Interviews</p>
				<p class="rush-caption">
					Thursday, 4 February<br>
					By Invitation Only<br>	
					Business Professional
				</p>
			</div>
		</div>
	</a>

	<a name="a3" class="remove-hover-effect">
		<div class="rush-wrapper">
			<p class="rush-heading">Application Requirements</p>
			<p class="rush-caption">
				To apply for Alpha Kappa Psi, <b>you must submit an application online</b>. The application portal can be found at the top of this page. Applications will open every semester at the beginning of the recruitment process and end the day before individual interviews. <b>We require you to have a minimum GPA of 3.3</b>. If you are a first-semester freshman, <b>you can apply and go through the recruitment process, but you will not be accepted until your second semester</b>. This is to allow you to explore other opportunities on campus before deciding to commit to Alpha Kappa Psi. Although we are a business fraternity, we believe that business is universal to all fields, so all majors are welcome to apply.
			</p>
		</div>
	</a>
</div>