<% provide(:title, "Recruitment") %>

<div class="center-content">
  <div class="banner" id="rush-banner">

  </div>

	<div class="application-button-wrapper">
		<!-- <%= link_to "Apply Now", new_rush_application_path %> -->
		<% flash.each do |message_type, message| %>
		  <div class="alert alert-<%= message_type %>" id="prospects-flash"><%= message %></div>
		<% end %>
		<span style="font-size: 1.5em;">Sign up for our emailing list for Spring 2016</span>
		<br />
		<br />
		<div>
      <%= form_for @prospect do |f| %>
			  <%= f.text_field :email, placeholder: "Email Address", size: "10" %>
			  <br />
			  <br />
			  <%= f.submit "Submit", id: "mailing-list-button" %>
			<% end %>
    </div>
		<br><br>
		<i>The application for Fall 2015 recruitment is now closed. Please come back in Spring 2016.</i>
	</div>

	<div class="rush-schedule-wrapper">
		<p class="rush-schedule-heading">Recruitment Schedule</p>
		<div>
			<p class="rush-schedule-subheading">Meet the Chapter</p>
			<p class="rush-schedule-caption">
				7PM to 10PM Monday, 31 August<br>
				Maude Fife<br>
				Business Casual
			</p>
		</div>
		<div>
			<p class="rush-schedule-subheading">Social Night</p>
			<p class="rush-schedule-caption">
				7PM to 10PM Wednesday, 2 September<br>	
				Haas Courtyard<br>	
				Campus Casual
			</p>
		</div>
		<div>
			<p class="rush-schedule-subheading">Individual Interviews</p>
			<p class="rush-schedule-caption">
				Saturday, 5 September and Sunday, 6 September<br>	
				By Appointment Only<br>
				Business Professional
			</p>
		</div>
		<div>
			<p class="rush-schedule-subheading">Professional Forum</p>
			<p class="rush-schedule-caption">
				7PM to 10PM Tuesday, 8 September<br>
				By Invitation Only<br>
				Business Professional
			</p>
		</div>
		<div>
			<p class="rush-schedule-subheading">Group Interviews</p>
			<p class="rush-schedule-caption">
				Thursday, 10 September<br>
				By Invitation Only<br>	
				Business Professional
			</p>
		</div>
	</div>
</div>