<% provide(:title, "Recruitment") %>

<div class="center-content">
  <div class="banner" id="rush-banner">

  </div>

	<div class="application-button-wrapper">

		<!-- Comment/Uncomment the below section to open/close the application portal -->
		<!--
		<%= link_to "Apply Now", new_rush_application_path, class: "apply-link" %>
		<br />
		<br />
		-->
		<!-- Comment/Uncomment the above section to open/close the application portal -->
	

		<!-- Comment/Uncomment the below section to open/close the emailing list signup for when it's not rush season -->
		<% flash.each do |message_type, message| %>
		  <div class="alert alert-<%= message_type %>" id="prospects-flash"><%= message %></div>
		<% end %>
		<div style="font-size: 1.8em;margin-top:-25px;">Sign up for our emailing list for Spring 2016</div>
		<br />
		<div>
      <%= form_for @prospect do |f| %>
			  <%= f.text_field :email, placeholder: "Email Address", size: "10" %>
			  <br />
			  <br />
			  <%= f.submit "Submit", id: "mailing-list-button" %>
			<% end %>
    </div>
		<br />
		<i>The application for Spring 2016 will be up shortly.</i>
		<!-- Comment/Uncomment the above section to open/close the emailing list signup for when it's not rush season -->


		<!-- Comment/Uncomment the below section to open/close the facebook redirect for when we have a facebook page for rush -->
		<i><a href="https://www.facebook.com/events/199777757041287/" id="facebook-redirect">View our event on Facebook</a> for more details regarding our recruitment process.</i>
		<!-- Comment/Uncomment the above section to open/close the facebook redirect for when we have a facebook page for rush -->
	
	</div>

	<div class="rush-schedule-wrapper">
		<p class="rush-schedule-heading">Recruitment Schedule</p>
		<div>
			<p class="rush-schedule-subheading">Meet the Chapter</p>
			<p class="rush-schedule-caption">
				7PM to 10PM Monday, 25 January<br>
				Bancroft Hotel<br>
				Business Casual
			</p>
		</div>
		<div>
			<p class="rush-schedule-subheading">Social Night</p>
			<p class="rush-schedule-caption">
				7PM to 10PM Thursday, 28 January<br>	
				Berkeley City Club<br>	
				Campus Casual
			</p>
		</div>
		<div>
			<p class="rush-schedule-subheading">Individual Interviews</p>
			<p class="rush-schedule-caption">
				Saturday, 30 January and Sunday, 31 January<br>	
				By Appointment Only<br>
				Business Professional
			</p>
		</div>
		<div>
			<p class="rush-schedule-subheading">Professional Forum</p>
			<p class="rush-schedule-caption">
				Wednesday, 3 February<br>
				By Invitation Only<br>
				Business Professional
			</p>
		</div>
		<div>
			<p class="rush-schedule-subheading">Group Interviews</p>
			<p class="rush-schedule-caption">
				Thursday, 4 February<br>
				By Invitation Only<br>	
				Business Professional
			</p>
		</div>
	</div>
</div>