<% provide(:title, "Recruitment") %>

<div class="center-content">
  <div class="banner" id="rush-banner"></div>

	<div class="application-button-wrapper">

		<!-- Comment/Uncomment the below section to open/close the application portal -->
		<%= link_to "Apply Now", new_rush_application_path, class: "apply-link" %>
		<br />
		<br />
		<!-- Comment/Uncomment the above section to open/close the application portal -->	

		<!-- Comment/Uncomment the below section to open/close the emailing list signup for when it's not rush season -->
		<% flash.each do |message_type, message| %>
			<div class="alert alert-<%= message_type %>" id="prospects-flash"><%= message %></div>
		<% end %>
		<div style="font-size: 1.8em;margin-top:-25px;">Sign up for our emailing list for Fall 2016</div>
		<br />
		<div>
      	<%= form_for @prospect do |f| %>
			  <%= f.text_field :email, placeholder: "Email Address", size: "10" %>
			  <br />
			  <br />
			  <%= f.submit "Submit", id: "mailing-list-button" %>
			<% end %>
   		</div>
   		<!--
		<br />
		<i>The application for Spring 2016 has ended.</i>
		-->
		
		<!-- Comment/Uncomment the above section to open/close the emailing list signup for when it's not rush season -->


		<!-- Comment/Uncomment the below section to open/close the facebook redirect for when we have a facebook page for rush -->
		
		<br />
		<i><a href="https://www.facebook.com/events/1150392491685960/" id="facebook-redirect">View our event on Facebook</a> for more details regarding our recruitment process.<br />
		<!--
		The online application portal will open in a few days.</i>
		-->
		<!-- Comment/Uncomment the above section to open/close the facebook redirect for when we have a facebook page for rush -->
	
	</div>


	<div class="rush-nav">
  	<ul>
  		<a href="#a1"><li>Why join AKPsi?</li></a>
  		<li><div class="circle"></div></li>
			<a href="#a2"><li>Recruitment Schedule</li></a>
			<li><div class="circle"></div></li>
			<a href="#a3"><li>Requirements</li>
		</ul>
	</div>

	<a name="a1" class="remove-hover-effect">
		<div class="rush-wrapper">
			<p class="rush-heading">Why join Alpha Kappa Psi?</p>

			<p class="rush-caption" id="cute-caption">
				When people talk about family, they talk about sacrifice, vulnerability, and unbridled  love. But what is sometimes mentioned less is the brutal honesty and trying times that create such unbreakable bonds. In the Spring of 2014, AKPsi became my family - one that encapsulates all the characteristics mentioned above and many more. 
				<br />
				<br />
				When people talk about professionalism, it’s so easy to get lost in the repetition of the word without really thinking about what it means. From my time in AKPsi, professionalism has meant far more than just how well someone recruits. Professionalism was teaching a lost a freshman how to confidently navigate a job interview for the first time and helping her unearth potential and discover interests she had never known existed before. Professionalism has been staying up until 3AM helping each other prep for interviews the next day and helping revise resumes until our eyes glazed over. It’s been celebrating each and every person’s victories and encouraging them when things didn’t go as planned. With such a large alumni network, I’ve received so much help from alumni, both professionally and personally - I even met an alumni who graduated in 2001 at one of our alumni events before I worked under her the summer of my sophomore year. 
				<br />
				<br />
				Beyond all of the professional help AKPsi has given me, there is nothing more precious to me than the friendships I’ve formed over the last few semesters. From traveling all over the world to spending grueling hours struggling through classes and cases, we’ve spent some of our best and worst times together, and thanks to those times, I now have a group of people who I am certain I will be able to completely rely on for the rest of my life. I know that when I graduate, I’ll never forget the memories I’ve shared with the people in AKPsi: biking across the Golden Gate Bridge, wandering around in the rain on a mountain in Taiwan, eating copious amounts of street food in Tokyo, exploring the depths of Antelope Canyon, and many more. AKPsi has shaped my entire college experience for the better - I know I wouldn’t be where I am today or the person I am without it, and for that, I am forever grateful.
				<br />
				<br />
				<p class="signature">- Sophie He, Active Brother of AKPsi</p>
			</p>

			<!--
			<div class="row professionalism">
			  <div class="col-md-9">
			  	<p class="rush-subheading">Professionalism</p>


			  </div>
				<div class="col-md-3">


				</div>
			</div>
			<div class="row brotherhood">
			  <div class="col-md-3">

			  </div>
				<div class="col-md-9">
					<p class="rush-subheading">Brotherhood</p>
					<p>
				</div>
			</div>
		-->

		</div>
	</a>

	<a name="a2" class="remove-hover-effect">
		<div class="rush-wrapper dark-background">
			<p class="rush-heading">Recruitment Schedule</p>
			<div>
				<p class="rush-subheading">Meet the Chapter</p>
				<p class="rush-caption">
					Monday, August 29 | 7:00pm<br />
					Berkeley City Club Ballroom<br />
					Business Casual
				</p>
			</div>
			<div>
				<p class="rush-subheading">Social Night</p>
				<p class="rush-caption">
					Wednesday, August 31 | 7:00pm <br />	
					Bancroft Hotel<br />	
					Campus Casual
				</p>
			</div>
			<div>
				<p class="rush-subheading">Individual Interviews</p>
				<p class="rush-caption">
					Saturday - Sunday, September 3 - 4<br />	
					By Appointment Only<br />
					Business Professional
				</p>
			</div>
			<div>
				<p class="rush-subheading">Professional Forum</p>
				<p class="rush-caption">
					Tuesday, September 6<br>
					By Invitation Only<br>
					Business Professional
				</p>
			</div>
			<div>
				<p class="rush-subheading">Group Interviews</p>
				<p class="rush-caption">
					Thursday, September 8<br>
					By Invitation Only<br>	
					Business Professional
				</p>
			</div>
		</div>
	</a>

	<a name="a3" class="remove-hover-effect">
		<div class="rush-wrapper">
			<p class="rush-heading">Application Requirements</p>
			<p class="rush-caption">
				To apply for Alpha Kappa Psi, <b>you must submit an application online</b>. The application portal can be found at the top of this page. Applications will open every semester at the beginning of the recruitment process and end the day before individual interviews. <b>We require you to have a minimum GPA of 3.3</b>. If you are a first-semester freshman, <b>you can apply and go through the recruitment process, but you will not be accepted until your second semester</b>. This is to allow you to explore other opportunities on campus before deciding to commit to Alpha Kappa Psi. Although we are a business fraternity, we believe that business is universal to all fields, so all majors are welcome to apply.
			</p>
		</div>
	</a>
</div>