<% provide(:title, "Careers") %>

<div class="center-content">
  <div class="banner" id="careers-banner">
    <div class="dark-layer">
      <div class="banner-container">
      	<div class="banner-text">
          CAREERS
        </div>
        <hr class="hr-sm"/>
        <div class="banner-caption">Our brothers find employment with premier companies in a wide variety of industries</div>
      </div>
    </div>
  </div>

  <br><br><br>

  <nav class="nav navbar-default navbar-careers">
    <ul class="nav navbar-nav">
      <li><%= link_to "2017", career_entries_path(:year => "2017") %><div id="2017"></div></li>
      <li><%= link_to "2016", career_entries_path(:year => "2016") %><div id="2016"></div></li>
      <li><%= link_to "2015", career_entries_path(:year => "2015") %><div id="2015"></div></li>
      <li><%= link_to "2014", career_entries_path(:year => "2014") %><div id="2014"></div></li>
      <li><%= link_to "2013", career_entries_path(:year => "2013") %><div id="2013"></div></li>
      <li><%= link_to "2012", career_entries_path(:year => "2012") %><div id="2012"></div></li>
      <li><%= link_to "2011", career_entries_path(:year => "2011") %><div id="2011"></div></li>
      <li><%= link_to "2010", career_entries_path(:year => "2010") %><div id="2010"></div></li>
    </ul>
  </nav>

  <br>

  <% @full_entries = [] %>
  <% @intern_entries = [] %>
  <% @full_banking_entries = [] %>
  <% @intern_banking_entries = [] %>
  <% @full_consulting_entries = [] %>
  <% @intern_consulting_entries = [] %>
  <% @full_finance_entries = [] %>
  <% @intern_finance_entries = [] %>
  <% @full_technology_entries = [] %>
  <% @intern_technology_entries = [] %>
  <% @full_technical_entries = [] %>
  <% @intern_technical_entries = [] %>
  <% @full_other_entries = [] %>
  <% @intern_other_entries = [] %>
  <% for i in 0 ... @careerentries.size %>
    <% if @careerentries[i].year == @year %>
      <% if @careerentries[i].fulltime_or_intern == "Full-time" %>
        <% @full_entries.push(@careerentries[i]) %>
        <% if @careerentries[i].job_category == "Investment Banking" %>
          <% @full_banking_entries.push(@careerentries[i]) %>
        <% elsif @careerentries[i].job_category == "Consulting" %>
          <% @full_consulting_entries.push(@careerentries[i]) %>
        <% elsif @careerentries[i].job_category == "Finance" %>
          <% @full_finance_entries.push(@careerentries[i]) %>
        <% elsif @careerentries[i].job_category == "Technology" %>
          <% @full_technology_entries.push(@careerentries[i]) %>
        <% elsif @careerentries[i].job_category == "Technical" %>
          <% @full_technical_entries.push(@careerentries[i]) %>
        <% elsif @careerentries[i].job_category == "Other" %>
          <% @full_other_entries.push(@careerentries[i]) %>
        <% end %>
      <% elsif @careerentries[i].fulltime_or_intern == "Internship" %>
        <% @intern_entries.push(@careerentries[i]) %>
        <% if @careerentries[i].job_category == "Investment Banking" %>
          <% @intern_banking_entries.push(@careerentries[i]) %>
        <% elsif @careerentries[i].job_category == "Consulting" %>
          <% @intern_consulting_entries.push(@careerentries[i]) %>
        <% elsif @careerentries[i].job_category == "Finance" %>
          <% @intern_finance_entries.push(@careerentries[i]) %>
        <% elsif @careerentries[i].job_category == "Technology" %>
          <% @intern_technology_entries.push(@careerentries[i]) %>
        <% elsif @careerentries[i].job_category == "Technical" %>
          <% @intern_technical_entries.push(@careerentries[i]) %>
        <% elsif @careerentries[i].job_category == "Other" %>
          <% @intern_other_entries.push(@careerentries[i]) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <div class="careers-table-wrapper">

    <% if @full_entries.size > 0 %>
      <div class="table-responsive careers-table">
        <p><%= @year %> Full-times</p>
        <br>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th class="name">NAME</th>
              <th class="company">COMPANY</th>
              <th class="group">GROUP</th>
              <th class="location">LOCATION</th>
            </tr>
          </thead>
          
          <% if @full_banking_entries.size > 0 %>
            <tr class="subheading">
              <td>Investment Banking</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <% for i in 0 ... @full_banking_entries.size %>
              <tr>
                <td><%= @full_banking_entries[i].name %></td>
                <td><%= @full_banking_entries[i].company %></td>
                <td><%= @full_banking_entries[i].group %></td>
                <td><%= @full_banking_entries[i].location %></td>
              </tr>
            <% end %>
          <% end %>

          <% if @full_consulting_entries.size > 0 %>
            <tr class="subheading">
              <td>Consulting</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <% for i in 0 ... @full_consulting_entries.size %>
              <tr>
                <td><%= @full_consulting_entries[i].name %></td>
                <td><%= @full_consulting_entries[i].company %></td>
                <td><%= @full_consulting_entries[i].group %></td>
                <td><%= @full_consulting_entries[i].location %></td>
              </tr>
            <% end %>
          <% end %>

          <% if @full_finance_entries.size > 0 %>
            <tr class="subheading">
              <td>Finance</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <% for i in 0 ... @full_finance_entries.size %>
              <tr>
                <td><%= @full_finance_entries[i].name %></td>
                <td><%= @full_finance_entries[i].company %></td>
                <td><%= @full_finance_entries[i].group %></td>
                <td><%= @full_finance_entries[i].location %></td>
              </tr>
            <% end %>
          <% end %>

          <% if @full_technology_entries.size > 0 %>
            <tr class="subheading">
              <td>Technology</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <% for i in 0 ... @full_technology_entries.size %>
              <tr>
                <td><%= @full_technology_entries[i].name %></td>
                <td><%= @full_technology_entries[i].company %></td>
                <td><%= @full_technology_entries[i].group %></td>
                <td><%= @full_technology_entries[i].location %></td>
              </tr>
            <% end %>
          <% end %>

          <% if @full_technical_entries.size > 0 %>
            <tr class="subheading">
              <td>Technical</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <% for i in 0 ... @full_technical_entries.size %>
              <tr>
                <td><%= @full_technical_entries[i].name %></td>
                <td><%= @full_technical_entries[i].company %></td>
                <td><%= @full_technical_entries[i].group %></td>
                <td><%= @full_technical_entries[i].location %></td>
              </tr>
            <% end %>
          <% end %>

          <% if @full_other_entries.size > 0 %>
            <tr class="subheading">
              <td>Other</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <% for i in 0 ... @full_other_entries.size %>
              <tr>
                <td><%= @full_other_entries[i].name %></td>
                <td><%= @full_other_entries[i].company %></td>
                <td><%= @full_other_entries[i].group %></td>
                <td><%= @full_other_entries[i].location %></td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    <% end %>

    <br>

    <% if @intern_entries.size > 0 %>
      <div class="table-responsive careers-table">
        <p><%= @year %> Internships</p>
        <br>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th class="name">NAME</th>
              <th class="company">COMPANY</th>
              <th class="group">GROUP</th>
              <th class="location">LOCATION</th>
            </tr>
          </thead>
          
          <% if @intern_banking_entries.size > 0 %>
            <tr class="subheading">
              <td>Investment Banking</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <% for i in 0 ... @intern_banking_entries.size %>
              <tr>
                <td><%= @intern_banking_entries[i].name %></td>
                <td><%= @intern_banking_entries[i].company %></td>
                <td><%= @intern_banking_entries[i].group %></td>
                <td><%= @intern_banking_entries[i].location %></td>
              </tr>
            <% end %>
          <% end %>

          <% if @intern_consulting_entries.size > 0 %>
            <tr class="subheading">
              <td>Consulting</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <% for i in 0 ... @intern_consulting_entries.size %>
              <tr>
                <td><%= @intern_consulting_entries[i].name %></td>
                <td><%= @intern_consulting_entries[i].company %></td>
                <td><%= @intern_consulting_entries[i].group %></td>
                <td><%= @intern_consulting_entries[i].location %></td>
              </tr>
            <% end %>
          <% end %>

          <% if @intern_finance_entries.size > 0 %>
            <tr class="subheading">
              <td>Finance</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <% for i in 0 ... @intern_finance_entries.size %>
              <tr>
                <td><%= @intern_finance_entries[i].name %></td>
                <td><%= @intern_finance_entries[i].company %></td>
                <td><%= @intern_finance_entries[i].group %></td>
                <td><%= @intern_finance_entries[i].location %></td>
              </tr>
            <% end %>
          <% end %>

          <% if @intern_technology_entries.size > 0 %>
            <tr class="subheading">
              <td>Technology</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <% for i in 0 ... @intern_technology_entries.size %>
              <tr>
                <td><%= @intern_technology_entries[i].name %></td>
                <td><%= @intern_technology_entries[i].company %></td>
                <td><%= @intern_technology_entries[i].group %></td>
                <td><%= @intern_technology_entries[i].location %></td>
              </tr>
            <% end %>
          <% end %>

          <% if @intern_technical_entries.size > 0 %>
            <tr class="subheading">
              <td>Technical</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <% for i in 0 ... @intern_technical_entries.size %>
              <tr>
                <td><%= @intern_technical_entries[i].name %></td>
                <td><%= @intern_technical_entries[i].company %></td>
                <td><%= @intern_technical_entries[i].group %></td>
                <td><%= @intern_technical_entries[i].location %></td>
              </tr>
            <% end %>
          <% end %>

          <% if @intern_other_entries.size > 0 %>
            <tr class="subheading">
              <td>Other</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <% for i in 0 ... @intern_other_entries.size %>
              <tr>
                <td><%= @intern_other_entries[i].name %></td>
                <td><%= @intern_other_entries[i].company %></td>
                <td><%= @intern_other_entries[i].group %></td>
                <td><%= @intern_other_entries[i].location %></td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    <% end %>
  </div>
  <br>
</div>

<!-- This script enables the app to place the blue dot under the right year in the careers navbar -->
<script type="text/javascript">document.getElementById(<%= @year.to_s %>).style.background = '#007bb6'</script>