<% provide(:title, "Rushees") %>

<div class="center-content">
  <div class="banner" id="hunger-games-banner">
    <div class="dark-layer">
        <div class="banner-container">
        	<div class="banner-text">
                The Hunger Games
            </div>
            <hr class="hr-sm"/>
            <div class="banner-caption">May the odds ever be in their favor</div>
        </div>
    </div>
  </div>

  <br>

  <div class="actives-wrapper">
		<ul class="actives-thumbnails">
			<% @rushee_profiles.each do |r| %>
				<% if (r.photo?) %>
					<li>
						<%= link_to image_tag(r.photo.url(:small)), rushee_profile_path(r) %>
						<p><%= r.name %></p>
						<p style="font-size:0.8em; margin-top:-5px;"><%= r.rushee_comments.count %> Comment(s)</p>
					</li>
        <% else %>
          <li>
            <%= link_to "See Profile", rushee_profile_path(r) %>
            <p><%= r.name %></p>
            <p style="font-size:0.8em; margin-top:-5px;"><%= r.rushee_comments.count %> Comment(s)</p>
          </li>
        <% end %>
			<% end %>
		</ul>
	</div>
</div>