<% provide(:title, "Active Brothers") %>

<div class="center-content">
  <div class="banner" id="individual-actives-banner">
    <div class="dark-layer">
    	<div class="banner-text">
        PROFILES
        <hr>
        <p class="caption">Learn about the background and aspirations of each individual brother</p>
      </div>
    </div>
  </div>

  <div class="actives-profile-wrapper">
    <% if current_active == @active %>
      <span class="options-heading">Active Resources</span>
      <ul class="options">
        <li><a href="https://docs.google.com/spreadsheets/d/1ZQf2EZyASGocMXhc2nz31YLwbnAU0DYJKE5CQCnopB8/edit?usp=asogm">Academic Master Document</a></li>
        <li><a href="https://www.dropbox.com/sh/s1ycnfbqcagyese/AAA3oE0fVpOnDHWgbs3wERh-a?dl=0">Recruiting Resources</a></li>
        <li><a href="https://www.dropbox.com/sh/jgep1j5ncfy1awc/AACBwM5IT3lFBoYjpYPqlDcSa?dl=0">Test Bank</a></li>
        <li><a href="https://www.dropbox.com/sh/t3k25nk0hits6cm/AADWA3RF4CKKjcpMzVtmaSPga?dl=0">Textbooks</a></li>
        <li><a href="https://www.dropbox.com/sh/w190z997rbtsg6q/AABLh5OYyRFsEev-9C_u0QqYa?dl=0">Solution Manuals</a></li>
        <li><a href="https://www.dropbox.com/sh/7727oqx2sawoh3k/AABMWqNcfC__w-svqURfEaSMa?dl=0">Composites</a></li>
        <li><a href="mailto:akpsiwatchdog@gmail.com">Send Watchdog</a></li>
      </ul>
    <% end %>
    <br>
    <br>
    <div class="actives-profile-heading">
      <%= @active.name %>
      <% if current_active == @active %>
        <div class="edit"><%= link_to "Edit Account Information", edit_active_registration_path(current_active) %></div>
      <% end %>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <% if @active.photo? %>
          <%= image_tag(@active.photo.url(:medium)) %>
        <% end %>
      </div>
      <div class="col-md-9">
        <ul class="actives-profile-info">
          <li><strong>MAJOR:</strong> <%= @active.major %></li>
          <li><strong>HOMETOWN:</strong> <%= @active.hometown %></li>
          <li><strong>PLEDGE CLASS:</strong> <%= @active.pledge_class %></li>
          <li><strong>POSITIONS HELD:</strong> <%= @active.previous_positions %></li>
          <li><strong>BIOGRAPHY:</strong> <%= @active.biography %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
