<div class="center-content">
  <div class="banner" id="individual-actives-banner">
    <div class="dark-layer">
    	<div class="row">
        <div class="col-md-6">
          <%= image_tag(a.photo.url(:medium)) %>
        </div>
    </div>
  </div>

  <br>

  <div class="individual-actives-wrapper">


Name: <%= @active.name %><br />
Email: <%= @active.email %><br />
Major: <%= @active.major %><br />
Hometown: <%= @active.hometown %><br />
Pledge Class: <%= @active.pledge_class %><br />
Previous Positions: <%= @active.previous_positions %><br />
LinkedIn: <%= @active.linkedin %><br />
Biography: <%= @active.biography %><br />