<div class="center-content">
  <div class="banner" id="individual-actives-banner">
    <div class="dark-layer">
    	<div class="banner-text" style="font-size: 80px;">
        BROTHERS
        <hr>
        <p class="caption">Learn about the diverse interests of each of our brothers</p>
      </div>
    </div>
  </div>

  <br>

  <div class="individual-actives-wrapper">


Name: <%= @active.name %><br />
Email: <%= @active.email %><br />
Major: <%= @active.major %><br />
Hometown: <%= @active.hometown %><br />
Pledge Class: <%= @active.pledge_class %><br />
Previous Positions: <%= @active.previous_positions %><br />
LinkedIn: <%= @active.linkedin %><br />
Biography: <%= @active.biography %><br />