<% provide(:title, "Active Brothers") %>

<div class="center-content">
  <div class="banner" id="individual-actives-banner">
    <div class="dark-layer">
    	<div class="banner-text">
        PROFILES
        <hr>
        <p class="caption">Learn about the background and aspirations of each individual brother</p>
      </div>
    </div>
  </div>

  <div class="actives-profile-wrapper">
    <% if current_active == @active %>
      <span class="options-heading">Active Resources</span>
      <ul class="options">
        <li><a href="https://docs.google.com/spreadsheets/d/1ZQf2EZyASGocMXhc2nz31YLwbnAU0DYJKE5CQCnopB8/edit?usp=asogm">Academic Master Document</a></li>
        <li><a href="https://www.dropbox.com/sh/fa5whsjgs4h1rba/AACDEwXWmynM-bbZaqcZLZ1ia?dl=0">Recruiting Resources</a></li>
        <li><a href="https://www.dropbox.com/sh/vb12k4gokzzcgtj/AAB0PseaRCTVHaUDBhzFPd-1a?dl=0">Test Bank</a></li>
        <li><a href="https://www.dropbox.com/sh/e61qxozyq0scfea/AACKJAM-XCVvfXVw50WG8oe7a?dl=0">Textbooks</a></li>
        <li><a href="https://www.dropbox.com/sh/vp7aek5azgzu4za/AABguv_seta-D-KH8EJDpPyaa?dl=0">Solution Manuals</a></li>
        <li><a href="https://www.dropbox.com/sh/ecni5sw2r1lswkd/AABuDSUJoj8uRlRIwGq0gRDZa?dl=0">Photos & Videos</a></li>
        <li><a href="https://www.dropbox.com/sh/zlqjw1sou5jgxvt/AACOGSokOuJUZejhWuH-aq3xa?dl=0">Case Competition Decks</a></li>
        <li><a href="https://www.dropbox.com/sh/c55wb6c4anvujly/AADqDMnS4Uq5vmoYOCkUTnj9a?dl=0">Haas Sample Apps</a></li>
        <li><a href="https://www.dropbox.com/sh/xo278asxx0yc0vy/AAD68KtbOSQvXBcml8ES-K7Qa?dl=0">Haas Sample Essays</a></li>
        <li><a href="https://www.dropbox.com/sh/brlxpuda7q38byv/AABWU1yGX1cWBAJ8roC-bMUwa?dl=0">Resumes</a></li>
        <li><a href="https://www.dropbox.com/sh/brlxpuda7q38byv/AABWU1yGX1cWBAJ8roC-bMUwa?dl=0">Cover Letters</a></li>
        <li><a href="mailto:akpsiwatchdog@gmail.com">Send Watchdog</a></li>
      </ul>
    <% end %>
    <br>
    <br>
    <div class="actives-profile-heading">
      <%= @active.name %>
      <% if current_active == @active %>
        <div class="edit"><%= link_to "Edit Account Information", edit_active_registration_path(current_active) %></div>
      <% end %>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <% if @active.photo? %>
          <%= image_tag(@active.photo.url(:medium)) %>
        <% end %>
      </div>
      <div class="col-md-9">
        <ul class="actives-profile-info">
          <li><strong>MAJOR:</strong> <%= @active.major %></li>
          <li><strong>HOMETOWN:</strong> <%= @active.hometown %></li>
          <li><strong>PLEDGE CLASS:</strong> <%= @active.pledge_class %></li>
          <li><strong>POSITIONS HELD:</strong> <%= @active.previous_positions %></li>
          <li><strong>BIOGRAPHY:</strong> <%= @active.biography %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
