<% provide(:title, "Active Brothers") %>

<div class="center-content">
  <div class="banner" id="individual-actives-banner">
    <div class="dark-layer">
    	<div class="banner-text">
        PROFILES
        <hr>
        <p class="caption">Learn about the background and aspirations of each individual brother</p>
      </div>
    </div>
  </div>

  <div class="actives-profile-wrapper">
    <% if current_active == @active %>
      <span class="options-heading">Active Resources</span>
      <ul class="options">
        <li><a href="https://docs.google.com/spreadsheets/d/1ZQf2EZyASGocMXhc2nz31YLwbnAU0DYJKE5CQCnopB8/edit">Academic Master Document</a></li>
        <li><a href="https://docs.google.com/spreadsheets/d/1vdytxd8-jf5hCgtHeFW6he8Dl4q5Pu4OD1UUzDhcZ9I/edit">Recruiting Master Document</a></li>
        <li><a href="https://drive.google.com/drive/u/0/folders/0B8bkYVZRmib9em4tTWJvN2IxWUk">Fall 2016 Google Drive</a></li>
        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfRWlmJjtVggKvZ5WRaGy5KRvXz_L9oYV63AqHapUYMGUL-bg/viewform">Send Watchdog</a></li>
      </ul>
    <% end %>
    <br>
    <br>
    <div class="actives-profile-heading">
      <%= @active.name %>
      <% if current_active == @active %>
        <div class="edit"><%= link_to "Edit Account Information", edit_active_registration_path(current_active) %></div>
      <% end %>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <% if @active.photo? %>
          <%= image_tag(@active.photo.url(:medium)) %>
        <% end %>
      </div>
      <div class="col-md-9">
        <ul class="actives-profile-info">
          <li><strong>MAJOR:</strong> <%= @active.major %></li>
          <li><strong>HOMETOWN:</strong> <%= @active.hometown %></li>
          <li><strong>PLEDGE CLASS:</strong> <%= @active.pledge_class %></li>
          <li><strong>POSITIONS HELD:</strong> <%= @active.previous_positions %></li>
          <li><strong>BIOGRAPHY:</strong> <%= @active.biography %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
