<div class="center-content">
  <div class="banner" id="individual-actives-banner">
    <div class="dark-layer">
    	<div class="banner-text">
        PROFILES
        <hr>
        <p class="caption">Learn about the background and aspirations of each individual brother</p>
      </div>
    </div>
  </div>

  <div class="actives-profile-wrapper">
    <div class="actives-profile-heading">
      <%= @active.name %>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <%= image_tag(@active.photo.url(:medium)) %>
      </div>
      <div class="col-md-9">
        <ul class="actives-profile-info">
          <li><strong>MAJOR:</strong> <%= @active.major %></li>
          <li><strong>HOMETOWN:</strong> <%= @active.hometown %></li>
          <li><strong>PLEDGE CLASS:</strong> <%= @active.pledge_class %></li>
          <li><strong>POSITIONS HELD:</strong> <%= @active.previous_positions %></li>
          <li><strong>BIOGRAPHY:</strong> <%= @active.biography %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
