<% provide(:title, "Awards") %>

<div class="center-content">
  <div class="banner" id="awards-banner">
    <div class="dark-layer">
      <div class="banner-container">
      	<div class="banner-text">
          AWARDS
        </div>
        <hr class="hr-sm"/>
        <div class="banner-caption">Our brothers have received recognition in a wide range of professional competitions</div>
      </div>
    </div>
  </div>

  <br>
  <% @awards_2017 = [] %>
  <% @awards_2016 = [] %>
  <% @awards_2015 = [] %>
  <% @awards_2014 = [] %>
  <% @awards_2013 = [] %>
  <% @awards_2012 = [] %>
  <% @awards_2011 = [] %>
  <% @awards_2010 = [] %>
  <% @awards_2009 = [] %>
  <% @awards_2008 = [] %>
  <% @awards_2006 = [] %>
  <% @awards_2005 = [] %>
  <% for i in 0 ... @awards.size %>
    <% if @awards[i].year == 2017 %>
        <% @awards_2017.push(@awards[i]) %>
    <% end %>
    <% if @awards[i].year == 2016 %>
      <% @awards_2016.push(@awards[i]) %>
    <% end %>
  	<% if @awards[i].year == 2015 %>
  		<% @awards_2015.push(@awards[i]) %>
  	<% end %>
  	<% if @awards[i].year == 2014 %>
  		<% @awards_2014.push(@awards[i]) %>
  	<% end %>
  	<% if @awards[i].year == 2013 %>
  		<% @awards_2013.push(@awards[i]) %>
  	<% end %>
  	<% if @awards[i].year == 2012 %>
  		<% @awards_2012.push(@awards[i]) %>
  	<% end %>
  	<% if @awards[i].year == 2011 %>
  		<% @awards_2011.push(@awards[i]) %>
  	<% end %>
  	<% if @awards[i].year == 2010 %>
  		<% @awards_2010.push(@awards[i]) %>
  	<% end %>
  	<% if @awards[i].year == 2009 %>
  		<% @awards_2009.push(@awards[i]) %>
  	<% end %>
  	<% if @awards[i].year == 2008 %>
  		<% @awards_2008.push(@awards[i]) %>
  	<% end %>
  	<% if @awards[i].year == 2006 %>
  		<% @awards_2006.push(@awards[i]) %>
  	<% end %>
    <% if @awards[i].year == 2005 %>
      <% @awards_2005.push(@awards[i]) %>
    <% end %>
  <% end %>

  <div class="awards-table-wrapper">

    <% if @awards.size > 0 %>
      <div class="table-responsive awards-table">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th id="placement-column">PLACEMENT</th>
              <th id="actives-column">ACTIVES</th>
              <th id="competition-column">COMPETITION</th>
            </tr>
          </thead>

          <tr class="subheading">
            <td><b>2017</b></td>
            <td></td>
            <td></td>
          </tr>

          <% for i in 0 ... @awards_2017.size %>
            <tr>
              <td><%= @awards_2017[i].placement %></td>
              <td><%= @awards_2017[i].members %></td>
              <td><%= @awards_2017[i].name %></td>
            </tr>
          <% end %>

          <tr class="subheading">
            <td><b>2016</b></td>
            <td></td>
            <td></td>
          </tr>

          <% for i in 0 ... @awards_2016.size %>
            <tr>
              <td><%= @awards_2016[i].placement %></td>
              <td><%= @awards_2016[i].members %></td>
              <td><%= @awards_2016[i].name %></td>
            </tr>
          <% end %>

          <tr class="subheading">
            <td><b>2015</b></td>
            <td></td>
            <td></td>
          </tr>

          <% for i in 0 ... @awards_2015.size %>
            <tr>
              <td><%= @awards_2015[i].placement %></td>
              <td><%= @awards_2015[i].members %></td>
              <td><%= @awards_2015[i].name %></td>
            </tr>
          <% end %>

          <tr class="subheading">
            <td><b>2014</b></td>
            <td></td>
            <td></td>
          </tr>

          <% for i in 0 ... @awards_2014.size %>
            <tr>
              <td><%= @awards_2014[i].placement %></td>
              <td><%= @awards_2014[i].members %></td>
              <td><%= @awards_2014[i].name %></td>
            </tr>
          <% end %>

          <tr class="subheading">
            <td><b>2013</b></td>
            <td></td>
            <td></td>
          </tr>

          <% for i in 0 ... @awards_2013.size %>
            <tr>
              <td><%= @awards_2013[i].placement %></td>
              <td><%= @awards_2013[i].members %></td>
              <td><%= @awards_2013[i].name %></td>
            </tr>
          <% end %>

          <tr class="subheading">
            <td><b>2012</b></td>
            <td></td>
            <td></td>
          </tr>

          <% for i in 0 ... @awards_2012.size %>
            <tr>
              <td><%= @awards_2012[i].placement %></td>
              <td><%= @awards_2012[i].members %></td>
              <td><%= @awards_2012[i].name %></td>
            </tr>
          <% end %>

          <tr class="subheading">
            <td><b>2011</b></td>
            <td></td>
            <td></td>
          </tr>

          <% for i in 0 ... @awards_2011.size %>
            <tr>
              <td><%= @awards_2011[i].placement %></td>
              <td><%= @awards_2011[i].members %></td>
              <td><%= @awards_2011[i].name %></td>
            </tr>
          <% end %>

          <tr class="subheading">
            <td><b>2010</b></td>
            <td></td>
            <td></td>
          </tr>

          <% for i in 0 ... @awards_2010.size %>
            <tr>
              <td><%= @awards_2010[i].placement %></td>
              <td><%= @awards_2010[i].members %></td>
              <td><%= @awards_2010[i].name %></td>
            </tr>
          <% end %>

          <tr class="subheading">
            <td><b>2009</b></td>
            <td></td>
            <td></td>
          </tr>

          <% for i in 0 ... @awards_2009.size %>
            <tr>
              <td><%= @awards_2009[i].placement %></td>
              <td><%= @awards_2009[i].members %></td>
              <td><%= @awards_2009[i].name %></td>
            </tr>
          <% end %>

          <tr class="subheading">
            <td><b>2008</b></td>
            <td></td>
            <td></td>
          </tr>

          <% for i in 0 ... @awards_2008.size %>
            <tr>
              <td><%= @awards_2008[i].placement %></td>
              <td><%= @awards_2008[i].members %></td>
              <td><%= @awards_2008[i].name %></td>
            </tr>
          <% end %>

          <tr class="subheading">
            <td><b>2006</b></td>
            <td></td>
            <td></td>
          </tr>

          <% for i in 0 ... @awards_2006.size %>
            <tr>
              <td><%= @awards_2006[i].placement %></td>
              <td><%= @awards_2006[i].members %></td>
              <td><%= @awards_2006[i].name %></td>
            </tr>
          <% end %>

          <tr class="subheading">
            <td><b>2005</b></td>
            <td></td>
            <td></td>
          </tr>

          <% for i in 0 ... @awards_2005.size %>
            <tr>
              <td><%= @awards_2005[i].placement %></td>
              <td><%= @awards_2005[i].members %></td>
              <td><%= @awards_2005[i].name %></td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
   </div>
</div>
