<% provide(:title, "Edit Account") %>

<div class="center-content">
  <div class="banner" id="individual-actives-banner">
    <div class="dark-layer">
      <div class="banner-container">
        <div class="banner-text">Edit Account</div>
        <hr class="hr-sm"/>
        <div class="banner-caption">Change your account information here</div>
      </div>
    </div>
  </div>

  <div class="edit-wrapper">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <br>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <br>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <br>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <br>

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>

      <br>
    <% end %>

    <%= link_to "Back", current_active %>
    <br>
    <br>
  </div>
</div>
