<nav class="navbar navbar-default navbar-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=<%= root_path %>>
        <img alt="AKPsi" src=<%= image_url("akpsi_header_logo_new.png") %>>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    	<ul class="nav navbar-nav navbar-right">
    		<li><%= link_to "About Us", about_path %></li>
    		<li><%= link_to "Active Brothers", actives_path %></li>
    		<li><%= link_to "Careers", career_entries_path(:year => "2015") %></li>
    		<li><%= link_to "Awards", awards_path %></li>
    		<!-- <li><%= link_to "Corporate Consulting", bcs_path %></li>
    		<li><%= link_to "Non-profit Consulting", abc_path %></li>
    	    <li><%= link_to "Start-up Incubator", abv_path %></li> -->
    		<li><%= link_to "Rush", rush_path %></li>
            <% if active_signed_in? %>
                <li><%= link_to "Rushees", rushee_profiles_path %></li>
                <li><%= link_to "Sign Out", destroy_active_session_path, :method => :delete %></li>
            <% else %>
                <li><%= link_to "Active Brother Login", active_session_path %></li>
            <% end %>
    	</ul>
    </div>
  </div>
</nav>
